.container {
  border-radius: 6px;
  padding: 8px 10px;
  border: 0;
  background-color: #5898fa;
  /* min-width: 140px; */
}
.container:hover {
  background-color: #0081e3;
}
.activeContainer, .activeContainer:hover {
  background-color: #0071e3
}
.label {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
