.container {
  font-size: 18px;
  border-radius: 12px;
  padding: 16px 8px;
  border: 0;
  background-color:#0071e3;
  min-width: 100px;
  width: 100%;
}
.container:hover {
  background-color: #0081e3;
}
.activeContainer, .activeContainer:hover {
  background-color: #0071e3
}
.label {
  font-size: 18px;
  color: #fff;
}
