.dropdown {
  width: 120px;
}
.dropdownControl {
  transition: none;
  
  height: 32px;
  display: flex;
  align-items: center;
  transition: none;
  padding: 0 10px;
}
.dropdownControl:hover {
  box-shadow: none
}
.dropdownControlNotEditable {
  border: 1px solid transparent
}
.dropdownArrowWrapperNotEditable {
  visibility: hidden;
}
