.container {
  height: 46px;
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid #e8e8e8;
}

.link {
  display: flex;
  flex: 1 1;
  align-items: center;
  padding: 0 16px;
  font-weight: 500;
  font-size: 14px;
  justify-content: space-between;
}

.link:hover {
  background-color: #e9e9e9;
  border-radius: 10px;
}

.icon {
  height: 22px;
  width: 22px;
}

.chevronIcon {
  height: 16px;
  width: 16px;
}
