.container {
  display: flex;
}

.navbarContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 30px 0px;
  justify-content: space-between;
  height: 100vh;
  background-color: #fff;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: solid 0.5px #dbdbdb;
  background-color: #f9f9f9;
  padding-left: 280px;
  min-height: 100vh;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.profileContainer {
  text-align: center;
}
.profileImage {
  border-radius: 50%;
  height: 60px
}
.profileNameLabel {
  font-weight: 600;
  font-size: 14px;
}
.profileTitleLabel {
  font-size: 14px;
  font-weight: 400;
}

.listContainer {
  padding: 0 30px;
}

.header {
  height: 80px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.headerLabel {

}
