.container {
  display: flex;
  height: 100vh;
}

.navbarContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: #1b1c1e;
}

.contentContainer {
  flex: 1;
  border: solid 1px blue;
}

.logoContainer {
  display: flex;
  align-items: center;
  border-bottom: 0.01px #3b3b3b solid;
  padding-bottom: 15px;
}

.logoLabel {
  color: #ffffff;
  font-weight: 700;
}

.logoIcon {
  color: #ffffff;
  height: 30px;
  margin-right: 10px;
}

.listContainer {
  flex: 1;
  margin-top: 30px;
  margin-bottom: 50px;
}
