.container {

}
.buttonsRowContainer{
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.headerRow {
  border-bottom: 1px solid #e8e8e8;
}
.headerCell {
  font-weight: 600;
  font-size: 12px;
  padding: 20px 0;
  text-align: left;
}

.bodyRow {
  border-bottom: 0.5px solid #e8e8e8;
  
}
.bodyRow:hover {
  /* background-color: #e9e9e9; */
}
.bodyCell {
  font-size: 13px;
  position: relative;
  padding: 20px 0;
}

.cellInput {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cellInput:focus {
  outline-width: 0;
}
.cellEditing {
  background-color: red
}

.rowActionButtonsContainer {
  display: flex;
}
.actionIcon {
  color: #5898fa
}
.editIcon {

}
.deleteIcon {

}
.editCompleteIcon {
  color: #30ae4a
}
