.container {

}
.buttonsRowContainer{
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.headerRow {
  border-bottom: 1px solid #e8e8e8;
}
.headerCell {
  font-weight: 600;
  font-size: 12px;
  padding: 20px 10px;
  text-align: left;
}

.bodyRow {
  border-bottom: 0.5px solid #e8e8e8;
}
.bodyRow:hover {
  /* background-color: #e9e9e9; */
}
.bodyCell {
  font-size: 13px;
  position: relative;
  padding: 14px 0;
}
