.container {
  display: flex;
  justify-content: center;
}
.contentContainer {
  width: 720px;
  padding: 40px 0px;
  text-align: center;
}
.formContainer {
  margin-top: 50px;
}
.inputContainer {
  margin-bottom: 20px;
}
.buttonContainer {
  margin-top: 50px;
}
