.container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex: 1;
  background-color: #f9f9f9;
  padding: 15px;
}

.leftContainer {
  flex: 1;
  padding: 15px;
  border-radius: 10px;

  background-color: #fefefe;
  position: relative
}
.rightContainer {
  width: 300px;
  height: 450px;
  margin-left: 20px;
}

.formContainer {
  display: flex;
}
.formColumn {
  flex: 1;
}
.formColumnLast {
  padding-left: 50px;
}

.inputContainer {
  margin-bottom: 30px;
}
.submitBtnContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
